### Newline Escape Sequence : \n

In [6]:
print("Hello\nWorld")

Hello
World

In [2]:
print("Line 1\nLine 2\nLine 3")

Line 1
Line 2
Line 3

In [3]:
message = "First Line\nSecond Line"
print(message)

First Line
Second Line

In [4]:
print("Name:\nJohn Doe\nAge:\n30")

Name:
John Doe
Age:
30

In [5]:
multiline_text = """This is line one.
This is line two.
This is line three."""
print(multiline_text)

This is line one.
This is line two.
This is line three.

### Carriage Return \r Escape Sequence

In [7]:
print("Hello World\rPython")

PythonWorld

In [8]:
print("1234567890\rABCDE")

ABCDE67890

In [9]:
import time
print("Loading", end="")
for i in range(5):
    print(".", end="", flush=True)
    time.sleep(0.5)
print("\rDone!      ")

Done!      .

In [10]:
text = "Hello\rBye"
print(text)

Byelo

In [11]:
print("First Line\rSecond\r\nThird Line")

SecondLine
Third Line

### Backspace \b Escape Sequence

In [12]:
# Example 1: Removing last character
print("Hello\b")

Hell

In [14]:
# Example 2: Removing multiple characters
print("Python\b\b\b")

Pytho

In [15]:
# Example 3: Backspace in the middle of string (overwrites previous char)
print("12345\b6")

12346

In [16]:
# Example 4: Using backspace to erase and replace characters
print("ABCDE\b\bXY")

ABCXY

In [ ]:
# Example 5: Backspace with multiple tabs and spaces
print("A\tB\tC\b\bD") # Output will be accurate in python terminal only not in jupyter notebook

A	BD