### Newline Escape Sequence : \n

In [6]:
print("Hello\nWorld")

Hello
World

In [2]:
print("Line 1\nLine 2\nLine 3")

Line 1
Line 2
Line 3

In [3]:
message = "First Line\nSecond Line"
print(message)

First Line
Second Line

In [4]:
print("Name:\nJohn Doe\nAge:\n30")

Name:
John Doe
Age:
30

In [5]:
multiline_text = """This is line one.
This is line two.
This is line three."""
print(multiline_text)

This is line one.
This is line two.
This is line three.

### Carriage Return \r Escape Sequence

In [7]:
print("Hello World\rPython")

PythonWorld

In [8]:
print("1234567890\rABCDE")

ABCDE67890

In [9]:
import time
print("Loading", end="")
for i in range(5):
    print(".", end="", flush=True)
    time.sleep(0.5)
print("\rDone!      ")

Done!      .

In [10]:
text = "Hello\rBye"
print(text)

Byelo

In [11]:
print("First Line\rSecond\r\nThird Line")

SecondLine
Third Line

### Backspace \b Escape Sequence

In [12]:
# Example 1: Removing last character
print("Hello\b")

Hell

In [14]:
# Example 2: Removing multiple characters
print("Python\b\b\b")

Pytho

In [15]:
# Example 3: Backspace in the middle of string (overwrites previous char)
print("12345\b6")

12346

In [16]:
# Example 4: Using backspace to erase and replace characters
print("ABCDE\b\bXY")

ABCXY

In [ ]:
# Example 5: Backspace with multiple tabs and spaces
print("A\tB\tC\b\bD") # Output will be accurate in python terminal only not in jupyter notebook

A	BD

### Backslash Escape Sequence

In [7]:
print("This is a backslash: \\")

This is a backslash: \

In [8]:
print("C:\\Users\\Admin\\Documents")

C:\Users\Admin\Documents

In [13]:
print(r"C:\\Users\\Admin\\Documents")

C:\\Users\\Admin\\Documents

In [18]:
print("Hello, " \
      "world!")

Hello, world!

### Escape Sequence: Double Quote (")

In [19]:
# Example 1: Including double quotes inside a string
print("She said, \"Hello!\"")

She said, "Hello!"

In [20]:
quote = "The sign read: \"No Entry\""
print(quote)

The sign read: "No Entry"

In [21]:
print("He replied, \"That's great!\"")

He replied, "That's great!"

In [22]:
text = "This is a \"quoted\" word"
print(text)

This is a "quoted" word

In [23]:
# Example 5: Escaping quotes in file paths or JSON strings
json_str = "{\"name\": \"John\", \"age\": 30}"
print(json_str)

{"name": "John", "age": 30}

### Escape Sequence: Single Quote (')

In [24]:
# Example 1: Including single quote inside a string
print('It\'s a beautiful day!')

It's a beautiful day!

In [25]:
# Example 2: Single quotes inside a sentence
sentence = 'She said, \'Hello there!\''
print(sentence)

She said, 'Hello there!'

In [26]:
# Example 3: Using escape to include multiple single quotes
print('It\'s John\'s book.')

It's John's book.

In [27]:
# Example 4: Using single quotes inside single-quoted string with escapes
text = 'That\'s "amazing"!'
print(text)

That's "amazing"!

In [28]:
# Example 5: Escaping quotes in contractions or possessives
contracted = 'Don\'t stop believing.'
print(contracted)

Don't stop believing.

### Escape Sequence: Tab (\t)

In [29]:
# Example 1: Simple tab space between words
print("Name:\tJohn")

Name:	John

In [30]:
# Example 2: Tab used for columns alignment
print("Item\tPrice")
print("Pen\t$1.20")
print("Notebook\t$2.50")

Item	Price
Pen	$1.20
Notebook	$2.50

In [31]:
# Example 3: Multiple tabs for more spacing
print("A\t\tB\t\tC")

A		B		C

In [32]:
# Example 4: Tab inside a sentence
print("Hello\tWorld!")

Hello	World!

In [33]:
# Example 5: Using tab to format a list
items = "Apple\tBanana\tCherry"
print(items)

Apple	Banana	Cherry